.fullscreen{
  height: 100%;
  width: 100%;
}

.halfScreen{
  height: 50%;
  width: 50%;
}

a:hover {
  cursor:pointer;
}

.error_label{
  text-align: center;
  color:red;
}

.error_div{
  width: 100%;
  min-height: 40px;
  border: solid 12px red;
}

.curved-block{
  height: 35px; width: 100%;
  -moz-border-radius-bottomright: 125px 80px;
  border-bottom-right-radius: 125px 80px;
}

.secondary-curved-block {
    height: 45px; width: 45%;
    -moz-border-radius-bottomright: 705px 400px;
    border-bottom-right-radius: 705px 400px;
}

.top-curved-block{
    height: 35px; width: 100%;
    -moz-top-radius-bottomright: 125px 80px;
    border-top-right-radius: 125px 80px;
}

.top-secondary-curved-block {
    height: 45px; width: 45%;
    -moz-top-radius-bottomright: 705px 400px;
    border-top-right-radius: 705px 400px;
}

.citate {
    font-size: 23px;
    font-family: serif;
    text-align: right;
    margin-right: 25px;
    font-style: italic;
    text-decoration: underline;
}

.visit-card {
    font-size: 23px;
    font-family: serif;
    text-align: right;
    margin-right: 25px;
}

.shadowed {
    text-shadow: 2px 2px black;
}

.left {
    float: left;
    margin-right: 1em;
}

.right {
    float: right;
    margin-left: 1em;
}


/* Styling for Pen, unrelated to float */

* {
    box-sizing: border-box;
}

body {
    background-color: #1D1F1F;
}

article {
    background-color: white;
    padding: 1em;
    width: 65%;
    margin: 0 auto;
    border: 5px solid #E18728;
}

h1 {
    text-align: center;
}

p {
    font-family: sans-serif;
}

figure {
    text-align: center;
    text-transform: uppercase;
    padding: .2em;
    margin: 0;
}

figure img {
    max-width: 100%;
}

@media all and (max-width: 1100px) {
    article {
        width: 80%;
    }
}

@media all and (max-width: 950px) {
    article {
        width: 95%;
    }
}