$("#resetResults").empty();
$("#resetResults").removeClass();
<% if !@error.blank? %>
  $("#resetResults").addClass("alert alert-danger");
  $("#resetResults").append("<h5> <%= @error %></h5>");
<% else %>
  $("#resetResults").addClass("alert alert-success");
  $("#resetResults").append("<h5><%= t(:check_email) %></h5>");
<% end %>
$('#loadingLogIn').hide();