<ul class="nav navbar-nav navbar-left" style="margin-left: 35%;">
  <% if user_signed_in? %>
    <li>
      <a><%= current_user.email %></a>
    </li>
    <li>
      <%= link_to t(:signOut), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </li>
  <% else %>
    <li>
      <%= render partial: "layouts/signUpPart" %>
    </li>
    <li>
      <%= render partial: "layouts/logInPart" %>
    </li>
  <% end %>
</ul>