<!DOCTYPE html>
<html>

  <head>
    <title>BookManager</title>
    <%= render partial: "layouts/stylesAndScripts" %>
  </head>

  <body>

    <%= render partial: "layouts/navbar" %>

    <div>
      <%= yield %>
    </div>

  </body>

</html>
